<div class="my-5">
    <form (submit)="onLoginSubmit()" [formGroup]="LoginFormGroup" class="form-group w-50 mx-auto my-4">
        <h1>Login</h1>
        <input type="text" formControlName="userId" class="form-control mb-3" placeholder="User Id">
        <p *ngIf="LoginControls.userId.errors && LoginControls.userId.touched" >This field is required</p>
        <input type="password" formControlName="password" class="form-control mb-3" placeholder="Password">
        <p *ngIf="LoginControls.password.errors && LoginControls.password.touched" >This field is required</p>
        <button class="btn btn-warning" type="submit">Login</button>
    </form>
</div>